* { 
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
}
        
#page { 
    width: 1000px; 
    margin: 0 auto; 
}
        
header, footer, nav { 
    height: 50px; 
    line-height: 50px;
}
        
nav.navbar { 
    margin-bottom: 5px;
}
        
#main { 
    overflow: hidden;
}
        
#left, section, #right { 
    float: left;
}
  
#left, #right { 
    width: 150px; 
    height: 400px;
}
        
#left { 
    background-color: cadetblue;
}
        
#right { 
    background-color: cornflowerblue;
}
        
section { 
    width:700px; 
    min-height: 600px;
}